@model EmployeeDetailsDto

<h2>Role Details</h2>

<dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</p>
